[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/NestJS-Microservices-Giusti/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = git@github.com:NestJS-Microservices-Giusti/products-microservice.git
